<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black-white</key>
			<dict>
				<key>ordinal</key>
				<integer>1</integer>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-white</string>
				</array>
			</dict>
			<key>white-black</key>
			<dict>
				<key>ordinal</key>
				<integer>2</integer>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--white-black</string>
				</array>
			</dict>
			<key>multi-black</key>
			<dict>
				<key>ordinal</key>
				<integer>3</integer>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--multi-black</string>
				</array>
			</dict>
			<key>black-multi</key>
			<dict>
				<key>ordinal</key>
				<integer>4</integer>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon--black-multi</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>app-icon--default</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
